{
  "parser": "babel-eslint",
  "extends": "xi",
  "rules": {
    "no-unused-vars": [2, { "varsIgnorePattern": "[sS]tyles", "argsIgnorePattern": "[sS]tyles" }],
    "react/prop-types": [2, { "ignore": ["styles"] }]
  }
}
