@import "~office-ui-fabric/src/sass/Fabric.Typography.Fonts.Output.scss";
@import "~office-ui-fabric/src/sass/Fabric.Icons.Font.Output.scss";

@import "~office-ui-fabric/src/sass/_Fabric.Common.scss";
@import "~office-ui-fabric/src/sass/_Fabric.Typography.scss";

:global {
  @import "~highlight.js/styles/github-gist";
  @import "~codemirror/lib/codemirror";
  @import "cm-fabric";

  .hljs-value {
    color: #C41A16;
  }

  *, :before, :after {
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }

  body {
    @include ms-font-m;
  }

  pre, code {
    font-family: 'source-code-pro', Menlo, Consolas, Monaco, 'Andale Mono', 'Courier New', monospace;
  }
}
