@import "~office-ui-fabric/src/sass/_Fabric.Common.scss";
@import "~office-ui-fabric/src/components/NavBar/NavBar.scss";
@import "../../mixins";

.app-bar {
  display: block;
}

.brand-container {
  padding-left: 2rem;
}
.brand {
  @extend .ms-NavBar-link;
  @include ms-fontWeight-semibold;
  color: $ms-color-orangeLight;

  &:hover, &:focus {
    color: $ms-color-orange;
  }
}

.icon {
  height: 20px;
  vertical-align: text-bottom;
}
