@import "~office-ui-fabric/src/sass/_Fabric.Common.scss";
@import "~office-ui-fabric/src/sass/_Fabric.Typography.scss";

@import "~office-ui-fabric/src/sass/Fabric.Icons.Font.Output.scss";
@import "~office-ui-fabric/src/sass/Fabric.Typography.Fonts.Output.scss";

body {
  @include ms-font-m;
}

h1 { @include ms-font-xxl; }
h2 { @include ms-font-xl; }
h3 { @include ms-font-l; }

h1,h2,h3 {
  @include ms-fontWeight-semilight;
}

:global {
  .icon-section {
    .ms-Icon {
      padding: 3px;
      width: 28px;
      height: 14px;
      text-align:center;
    }
  }

  .button-section {
    > div {
      margin: 0.5em 0;
    }
  }
}
